<%- include('includes/head', {pageTitle: 'An error occurred'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Невозможно найти страницу</h1>
        <p>Мы не можем найти запрашиваемую вами страницу.</p>
        <p><a href="/" class="btn">Вернуться на главную</a></p>
    </main>
    <%- include('includes/footer') %>